<!DOCTYPE html>
<html>

{% load staticfiles %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=scale=1.0">
        <title>HHH Polls - {% block title %}Home{% endblock %}</title>
        <meta name="description" content="Polling Application for the community at www.reddit.com/r/hiphopheads"/>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/font-styles.css' %}"/>        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://vjs.zencdn.net/5.0/video.min.js"></script>
        <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

        <script src="{% static 'js/Youtube.js' %}"></script>
        <script src="{% static 'js/waveform.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        
        
        <script>
            SC.initialize({
                client_id: "c22c5fe14fd82318be2bc25a9cecd82b"
            });
        </script>
    </head>
    <body>
        <div id="menu">
            <div id="logo"></div>
            {% if error_message %}
                <h3>{{ error_message }}</h3>
            {% endif %}
            <div id="header">
                <a href="https://www.reddit.com/r/hiphopheads"><div class="nav_button">REDDIT</div></a>
                <p style="display: inline;">I</p>
                {% if user.is_authenticated %}
                    <a href="/logout/"><div class="nav_button">LOGOUT</div></a>
                {% else %}
                    <a href="/login/"><div class="nav_button">LOGIN</div></a>
                {% endif %}       
            </div>
            <div id="footer">
                <p>We track <a href="www.reddit.com/r/HipHopHeads">/r/HipHopHeads</a>' votes on all things hiphop.</p>     
                <p>A stats site created by /u/Rutigs.</p>
                <a class="icon-github" href="https://github.com/rutigs/hhhpolls"></a>
            </div>
        </div>
     
        <div id="polls">
            {% block body_block %}{% endblock %}
        </div>
        
        <div id="player_wrapper">
            <h1 id="track_number">03</h1>
            <div id="equalizer_div">
                <div id="equalizer"></div>
            </div>            
            <h2 id="artist_song_title">PASSION PIT- CARRIED AWAY</h2>
            <h3 id="album_title">Gossamer</h3>
            
            <p id="track_extra_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <span></span>
            <span></span>
            <div id="audio_div">
                <div id="audio_controls">
                    <div class="track_button icon-skipbackward" id="prev"></div>
                    <div class="track_button icon-play" id="center_button"></div>
                    <div class="track_button icon-skipforward" id="next"></div>
                </div>
            </div>
            
            <div id="testSC" style="height: 50px; width: 50px;"></div>
            
            <audio
                    id="test1"
                    class="video-js"
                    controls
                    width="640" height="264"
                    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=DiEwJTOderQ"}]}'
                  >
            </audio>
        </div>     
    </body>
</html>
